# Ignore macOS specific .DS_Store files
.DS_Store

# Ignore Python bytecode cache directories
**__pycache__**

# Ignore temporary files or directories
tmp

# Ignore PyTorch model files
*.pt

# Ignore ONNX model files
*.onnx

# Ignore yolov9c_openvino_model directory
yolov9c_openvino_model/

# Ignore lock files
*.lock
